body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e7e4e4;
}

/* Container anggota kelompok */
.anggota-container {
    position: fixed;
    top: 5px; 
    left: 5px; 
    width: 240px; 
    padding: 15px;
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Prioritas lebih tinggi */
}

.anggota-container h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}

.anggota-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.anggota-list li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
}

/* Container anggota di hp */
@media (max-width: 768px) {
    .anggota-container {
        position: relative; 
        margin: 10px auto; 
        width: 90%; 
        top: 0;
        left: 0;
    }
}

/* Container Data Users */
.container {
    max-width: 900px;
    margin: 0 auto 20px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.identity-table,
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.identity-table th,
.user-table th {
    border: 2px solid #333;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.identity-table td,
.user-table td {
    border: 2px solid #333;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

.identity-table td:first-child {
    width: 50%; 
}

.identity-table td:last-child {
    width: 50%; 
}

.identity-table th {
    background-color: #f4b083;
    font-weight: bold;
    text-align: left;
}

.user-table th {
    background-color: #fef9e7;
    font-weight: bold;
}

.user-table tr:nth-child(even),
.identity-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
